{#
| Variable        | Type       | Description                    |
|-----------------|------------|--------------------------------|
| products        | Products[] |                                |
| position        | Int        | Sorting number start from zero |
#}
<section class="container mt-6 s-block s-block--latest-products sm:mt-8">
    <div class="s-block__title">
      <h2>{{ trans('blocks.home.latest_products') }}</h2>
    </div>
    
<salla-products-list autoload source="latest"></salla-products-list>


</section> 
